body {
  font-family: monospace;
  background: #f06d06;
  color: white;
  text-align: center;
}
p {
  font-size: 150%;
}
ul{
  text-align: text-justify;
  margin: 30px 300px 30px 300px;
}
legend {
  text-align: center;
}
h3 {
  font-style: italic;
   text-align: text-justify;
  margin: 30px 300px 30px 300px;
}
#image {
width: 100%;
height: auto;
max-width: 625px;
margin-left: auto;
margin-right: auto;
display: block;
border-radius: 5%;
}
h3{
  font-size: 150%;
}
footer {
  text-align: left;
}
